.select-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.3s;
}

.select-wrapper::after {
  content: '▼';
  transition: all 0.3s;
}

.select-wrapper_active::after {
  transform: rotate(180deg);
}

.custom-select {
  display: none;
}

.custom-select_active {
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 53px;
  left: -2px;
  width: calc(100% + 4px);
  border: 1px solid #292929;
  max-height: 275px;
  overflow-y: auto;
}

.custom-select_active::-webkit-scrollbar {
  width: 4px;  
  background-color: #FFFFFF;
}

.custom-select_active::-webkit-scrollbar-thumb {
  background-color: #292929;
}

.custom-select__option {
  background-color: #FFFFFF;
  color: #3D3D3D;
  font-size: 18px;
  padding: 16px;
  border: 1px solid #292929;
}

.custom-select__option:hover {
  border-bottom-width: 3px;
  padding-bottom: 14px;
}