:root {
  --default-text-color: #3D3D3D;
  --secondary-text-color: #F5F5F5;
  --label-color: #7A7A7A;
  --placeholder-color: #CCCCCC;
  --border-color: #292929;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.content {
  margin: 40px 100px 0 40px;
}

.title {
  color: var(--default-text-color);
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 32px;
}

/* Form */

.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-text {
  color: var(--default-text-color);
  width: 100%;
  padding: 16px;
  border: 2px solid var(--border-color);
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
}

.input-text:hover {
  border-bottom-width: 4px;
  padding-bottom: 14px;
}

.input-text:focus {
  outline: none;
  border-width: 3px;
  padding-bottom: 14px;
}

.input-text::placeholder {
  color: var(--placeholder-color);
}

.input-text_filter {
  border: none;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: var(--label-color);
}

/* Custom radio & checkbox */

.radio-label {
  color: var(--default-text-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.checkmark {
  width: 24px;
  height: 24px;
  border: 2px solid var(--border-color);
  cursor: pointer;
  position: relative;
}

.checkmark-radio {
  border-radius: 50%;
}

.checkmark-radio::after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--border-color);
  display: none;
  top: 3px;
  left: 3px;
  position: absolute;
}

.checkmark-checkbox::after {
  content: url("../img/Tick.svg");
  margin-left: 2px;
  display: none;
}

.input-hidden:checked ~ .checkmark-radio::after,
.input-hidden:checked ~ .checkmark-checkbox::after {
  display: block;
}

.input-hidden {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom select*/

.product-select {
  display: none;
}

.form:has(#product-type:checked) .product-select {
  display: flex;
}

.select-wrapper {
  transition: none;
}

.select-wrapper::after {
  content: url("../img/Arrow-down.svg");
  position: absolute;
  top: 18px;
  right: 20px;
}

.select-wrapper_active::after {
  top: 14px;
} 

/* Buttons */

.button-wrapper {
  display: flex;
  gap: 25px;
  width: 100%;
}

.button {
  width: 50%;
  background-color: transparent;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  padding: 18px;
  border: 2px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--border-color);
  color: var(--secondary-text-color);
}

.button_inactive {
  opacity: 0.3;
  cursor: auto;
}

.button_inactive:hover {
  color: currentColor;
  background-color: transparent;
}

.copy-button {
  width: 32px;
  height: 32px;
  background-image: url("../img/copy-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 16px;
  cursor: pointer;
}

/* Result */

.block_result {
  display: none;
}

.block_result_visible {
  display: flex;
}

.input-result {
  color: var(--default-text-color);
  position: relative;
  background-color: var(--secondary-text-color);
  border: none;
  padding: 16px;
}

.input-result input {
  background: transparent;
  width: 95%;
  height: 100%;
  margin-left: 52px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
}

/*Footer*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
  color: var(--label-color); 
}

.footer__link {
  color: var(--label-color);
  text-underline-offset: 7px;
}

/* Media queries */

@media (max-width: 1000px) {
  .content {
    margin-left: 40px;
    margin-right: 40px;
  }

  .footer {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (max-width: 600px) {

  .title {
    font-size: 32px;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .button {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
  }

  .footer {
    font-size: 14px;
  }
}